.btn {
  font-family: "open_sansbold",sans-serif;
  text-transform: uppercase;
}

.blackroundcornerbtn-short {
  background-color: @color-black;
  color: @color-white;
  border-color: @color-black;
  padding: 5px 15px;
  border-radius: 4px;
}
.blackroundcornerbtn-short:hover,.blackroundcornerbtn-short:focus {
  background-color: @color-navy;
  color: @color-white;
  border-color: @color-navy;
}
.blueroundcornerbtn-short {
  background-color: @color-sky_blue;
  color: @color-white;
  border-color: @color-sky_blue;
  padding: 5px 15px;
  border-radius: 4px;
}
.blueroundcornerbtn-short:hover,.blueroundcornerbtn-short:focus{
  background-color: @color-navy;
  color: @color-white;
  border-color: @color-navy;
}
.language-switch {
  background-color: @color-dark_gray;
  color: @color-white;
  border-color: @color-white;
  border-style: solid;
  border-width: 2px;
  padding:3px 8px;
  border-radius: 4px;
}
.language-switch:hover, .language-switch:focus{
  background-color: @color-sky_blue;
  color: @color-white;
}
.blubtn-long {
  background-color: @color-sky_blue;
  color: @color-white;
  border-color: @color-sky_blue;
  border-radius: 0px;
  width: 100%;
}
.blubtn-long:hover,.blubtn-long:focus{
  background-color: @color-navy;
  color: @color-white;
  border-color: @color-navy;
}
.blubtn-short {
  background-color: @color-sky_blue;
  color: @color-white;
  border-color: @color-sky_blue;
  border-radius: 0px;
  padding: 6px 43px;
}
.blubtn-short:hover,.blubtn-short:focus{
  background-color: @color-navy;
  color: @color-white;
  border-color: @color-navy;
}
.btn-expend {
  background-color: transparent;
  border: none;
  color: @color-dark_gray;
  font-size: 35px;
  padding:0;
}
.btn-expend:hover,.btn-expend:focus{
  background-color: transparent;
  border: none;
  color: @color-dark_white;
  font-size: 35px;
}
.btn-horizontal-search-bar-search {
  background-color: @color-sky_blue;
  border-radius: 4px;
  width: 55px;
}
.btn-horizontal-search-bar-map-list {
  background-color: @color-white;
  color: @color-light_gray;
  border-radius: 0px;
  border-color: @color-light_gray;
  border-style: solid;
  border-width: 1px;
  padding: 7px 10px;
  font-size: 13px;
  margin-left: -4px;
}
.btn-horizontal-search-bar-map-list:hover,.btn-horizontal-search-bar-map-list:focus {
  background-color: @color-light_gray;
  color: @color-white;
  text-decoration: none;
}
.btn-list-site-dropdown {
  background-color: @color-navy;
  border-radius: 0px;
  padding: 6px 100px;
  color: @color-white;
  border: none;
}
.btn-list-site-dropdown:hover, .btn-list-site-dropdown:focus, .btn-list-site-dropdown:active, .btn-list-site-dropdown.active, .open > .dropdown-toggle.btn-default{
  background-color: @color-navy;
  color: @color-white;
}
