
footer {
  position:absolute;
  width: 100%;
  bottom:0;
  left:0;
  height:50px;
  font-family: "open_sansregular",sans-serif;
  .copyright-mark {
    margin-top: 20px;
  }
  h6 {
    color: @color-light_gray;
  }
  text-align: center;
  .navbar {
    border-radius: 0px;
    margin-bottom: 0px;
  }
}