header {
  .navbar-nav {
    .header-links {
        line-height:60px;
    }
    a.header-links:hover {
      background-color: @color-black;
      color: @color-white;
      border-color: @color-black
    }
    a.header-links:focus {
      background-color: @color-black;
      color: @color-white;
      border-color: @color-black;
    }
  }
  .custom-logo {
    width:200px;
    height:auto;
    margin-top: 25px;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .btn {
    margin-top: 25px;
    margin-left: 10px;
  }
}


