.list-sites {
  margin-top: 25px;
  margin-bottom: 25px;
  .sort-label {
    float: left;
    color: @color-white;
    background-color: @color-sky_blue;
    padding: 6px 10px 6px 20px;
  }
  .listsites-dropdown-menu {
    background-color: @color-navy;
    border-radius: 0px;
    margin-left: 91px;
    margin-top: -1px;
    padding: 0px;
    font-family: "open_sansbold",sans-serif;
    text-transform: uppercase;

    .item-listsites-dropdown-menu {
      color: @color-white;
      padding: 2px 76px;
    }
    .item-listsites-dropdown-menu:hover {
      background-color: @color-sky_blue;
    }
  }
  .list-table {
    float: left;
    margin-top: 10px;
    background-color: @color-white;
    border: 1px solid @color-light_gray;
    width: 100%;
    .site-type-img {
      float: left;
      height: 70px;
      width: auto;
      margin: 20px 30px 0px 20px;

    }
    td {
      border-top: 1px solid @color-light_gray;
    }
  }
  .list-pagination {
    width: 100%;
    .page-indicator {
       text-transform: lowercase;
       font-size: 11px;
       float: left;
     }
    .custom-pagination {
      float: right;
       margin: 0px;
      font-family: "open_sanssemibold",sans-serif;
      font-size: 11px;
      li {
        a {
          color: @color-black;
          padding: 2px 5px;
          border: none;
          span {
            background-color: @color-sky_blue;
            color: @color-white;
            font-size: 9px;
            padding: 2px;
          }
        }
      }
    }
  }
}
.site-info {
  font-family: "open_sanssemibold",sans-serif;
  text-transform: uppercase;
  .suburb-name {
    font-family: "open_sansbold",sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .col-left {
    float: left;
    margin-right: 30px;
  }
  .col-right {
    float: left;
    margin-right: 30px;
  }
}
.listed-time {
  font-size: 12px;
  font-family: "open_sansitalic",sans-serif;
  text-transform: lowercase;
  margin-left: 120px;
  margin-top: 5px;
}
.one-site-buttons {
  margin-left: 120px;
  clear: both;
  .blueroundcornerbtn-short {
    margin-right: 6px;
  }
}
.backtosearch {
  margin-bottom: 10px;
  .backtosearch-link {
    color: @color-sky_blue;
    font-family: "open_sansregular",sans-serif;
    text-transform: uppercase;
    span {
      font-size: 12px;
      margin-right: 5px;
    }
  }
  .backtosearch-link:hover {
    text-decoration: none;
    background-color: @color-navy;
    color: @color-white;
  }
}
.site-details {
  border:1px solid @color-light_gray;
  width: 100%;
  .site-address {
    font-family: "open_sanssemibold",sans-serif;
    font-size: 16px;
    width: 50%;
    padding: 15px 0px 0px 15px;
  }
  .site-location-on-google-map {
    img {
      width: 100%;
      padding: 15px;
    }
  }
  .site-info {
    padding-left: 15px;
    margin-bottom: 20px;
    .col-left {
      margin-right: 80px;
    }
    .col-right {
      margin-right: 80px;
    }
  }
  .separator {
    clear: both;
    padding-top: 1px;
    .site-details-hr {
       border-style: 1px solid;
       border-color: @color-light_gray;
       width: 95%;
     }
  }
  .about-the-site {
    padding-left: 15px;
    .about-title {
      font-family: "open_sansbold",sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .about-content {
      font-family: "open_sansregular",sans-serif;
    }
  }
  .site-features {
    padding-left: 15px;
    .features-title{
      font-family: "open_sansbold",sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .features-content {
      .features-table {
        margin-bottom: 0px;
        td {
          border-top: none;
          padding-left: 0px;
         }
      }
      .one-feature {
        font-family: "open_sansregular",sans-serif;
        span {
          color: @color-sky_blue;
          margin-right: 10px;
        }
      }
    }
  }
  .site-details-buttons {
    padding-left: 15px;
    margin-bottom: 25px;
    text-align: center;
    .blueroundcornerbtn-short {
      width: 200px;
      margin: 5px;
    }
  }
}
.get-more-button-div {
  text-align: center;
  margin-top: 20px;
  a {
    span {
      font-size: 24px;
      color: @color-sky_blue;
    }
  }
  a:hover {
    span {
      color: @color-navy;
    }
  }
}
.list-a-site {
  margin-top: 20px;
  .form-title {
    text-align: center;
    text-transform: uppercase;
    color: @color-dark_gray;
    font-family: "open_sansbold",sans-serif;
    font-size: 17px;
    background-color: @color-light-blue;
    padding: 8px 0px 8px 0px;
  }
  form {
    padding: 30px 50px 30px 50px;
    border: solid 1px;
    border-color: @color-light_gray;
    margin-bottom: 20px;
    .left-col {
      padding-left: 0px;
      padding-right: 5px;
    }
    .right-col {
      padding-left: 5px;
      padding-right: 0px;
    }
    .declear-section {
      font-family: "open_sansregular",sans-serif;
      font-size: 12px;
    }

  }
}