.user-profile {
   margin-top: 25px;
   border: 1px solid @color-light_gray;
   .user-name-greeting {
     font-family: "open_sansregular",sans-serif;
     font-size: 16px;
     padding-left: 15px;
     margin-top: 15px;
     margin-bottom: 15px;
     span {
       font-family: "open_sansbold_italic",sans-serif;
     }
   }
   .user-profile-tab {
      font-family: "open_sansbold",sans-serif;
      text-transform: uppercase;
      border: 1px solid @color-light_gray;
      border-radius: 0px;
      margin-right: -1px;
      width: 185px;
      text-align: center;
      color: @color-black;
    }
  li.active > .user-profile-tab:hover, li.active > .user-profile-tab:focus {
    background-color: @color-light-blue;
  }
  li.active {
    .user-profile-tab {
      background-color: @color-light-blue;
    }
  }
  .search-box {
    width: 60%;
    padding-top: 20px;
    padding-left: 20px;
    .btn {
      border-radius: 0px;
    }

  }
  .site-list-table {
    height: 500px;
    overflow: auto;
    .list-table {
      border: none;
      margin-bottom: 0px;

    }
  }
  .tab-content {
    background-color: @color-light-blue;
    .list-table {
      background-color: @color-light-blue;
      td {
        border-top: none;
        border-bottom: 1px solid @color-light_gray;
      }
    }
  }
 }