*{
  -webkit-appearance:none;
}
html, body {
  height: 100%;
  background-color: @color-white;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
.content {
  padding-bottom:50px;
}
label {
  font-family: "open_sansregular",sans-serif;
  text-transform: uppercase;
}
.color-approved {
  color: @color-green;
}
.color-rawsite {
  color: @color-red;
}
.color-pending {
  color: @color-yellow;
}

